<section class="container centered">
  <div class="about">
    {{ with .Site.Params.avatarurl }}
      <div class="avatar"><img src="{{ . | absURL }}" alt="avatar"></div>
    {{ end }}
    <h1>{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
    <div>
         {{ .Site.Params.info1 }}
         {{ .Site.Params.info2 }}
         {{ .Site.Params.info3 }}
    </div>
    <br/>
    Email: <a class="email" href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a><br/>
    {{ i18n "tg-channel" }}: <a class="telegram-channel" href="{{ .Site.Params.telegram_channel_link }}">{{ .Site.Params.telegram_channel_name }}</a><br/>
    <a href="https://ergonomic-code.github.io/ergo-wiki/">Эргономичный подход</a>
    {{ with .Site.Params.social }}
    <ul class="social-list">
      {{ range sort . "weight"}}
        <li class="social-item">
          <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }}>
            {{ if .icon }}
              <i class="{{ .icon }}" aria-hidden="true"></i>
            {{ else }}
              {{ .name }}
            {{ end }}
          </a>
        </li>
      {{ end }}
      <li class="social-item">
          <a style="font-size: 30px; vertical-align: bottom" href="https://habr.com/ru/users/jdev/" aria-label="Habr">
              <img height="30px" src="/images/habr_logo_icon.svg"/>
          </a>
      </li>
      <li class="social-item">
          <a style="font-size: 30px; vertical-align: bottom" href="https://rutube.ru/channel/46917639/" aria-label="Rutube">
              <img height="30px" src="/images/rutube_logo_icon.svg"/>
          </a>
      </li>
      {{ with $.Site.Params.max_link }}
      <li class="social-item">
          <a style="font-size: 30px; vertical-align: bottom" href="{{ . }}" aria-label="Max">
              <img height="30px" src="/images/max_logo_icon.svg"/>
          </a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</section>
